<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestAnnotationExampleSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9674be">  <td>24/03/07 19:15:34</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_Annotation_RestAsssured_Example.evidenceCreator()[pri:0, instance:TestPackage.TestNG_Annotation_RestAsssured_Example@3d9c13b5]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837246227</td>   <td></td> </tr>
<tr bgcolor="acaf9d">  <td>24/03/07 19:15:34</td>   <td>8</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_DataProvider_SameClass_RestAssured.evidenceCreator()[pri:0, instance:TestPackage.TestNG_DataProvider_SameClass_RestAssured@78641d23]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837246227</td>   <td></td> </tr>
<tr bgcolor="81f160">  <td>24/03/07 19:15:34</td>   <td>6</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_DataProvider_DifferentClass_RestAssured.evidenceCreator()[pri:0, instance:TestPackage.TestNG_DataProvider_DifferentClass_RestAssured@3daf7722]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837246227</td>   <td></td> </tr>
<tr bgcolor="9674be">  <td>24/03/07 19:15:27</td>   <td>-6874</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_Annotation_RestAsssured_Example.testSetUp()[pri:0, instance:TestPackage.TestNG_Annotation_RestAsssured_Example@3d9c13b5]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837246227</td>   <td></td> </tr>
<tr bgcolor="acaf9d">  <td>24/03/07 19:15:28</td>   <td>-5957</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_DataProvider_SameClass_RestAssured.testSetUp()[pri:0, instance:TestPackage.TestNG_DataProvider_SameClass_RestAssured@78641d23]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837246227</td>   <td></td> </tr>
<tr bgcolor="81f160">  <td>24/03/07 19:15:28</td>   <td>-5959</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_DataProvider_DifferentClass_RestAssured.testSetUp()[pri:0, instance:TestPackage.TestNG_DataProvider_DifferentClass_RestAssured@3daf7722]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837246227</td>   <td></td> </tr>
<tr bgcolor="acaf9d">  <td>24/03/07 19:15:33</td>   <td>-574</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_SameClass_RestAssured.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.TestNG_DataProvider_SameClass_RestAssured@78641d23]">validator</td> 
  <td>main@837246227</td>   <td></td> </tr>
<tr bgcolor="81f160">  <td>24/03/07 19:15:32</td>   <td>-1732</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_DifferentClass_RestAssured.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.TestNG_DataProvider_DifferentClass_RestAssured@3daf7722]">validator</td> 
  <td>main@837246227</td>   <td></td> </tr>
<tr bgcolor="9674be">  <td>24/03/07 19:15:28</td>   <td>-5931</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Annotation_RestAsssured_Example.validator()[pri:0, instance:TestPackage.TestNG_Annotation_RestAsssured_Example@3d9c13b5]">validator</td> 
  <td>main@837246227</td>   <td></td> </tr>
<tr bgcolor="acaf9d">  <td>24/03/07 19:15:33</td>   <td>-574</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_SameClass_RestAssured.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.TestNG_DataProvider_SameClass_RestAssured@78641d23]">validator</td> 
  <td>main@837246227</td>   <td></td> </tr>
<tr bgcolor="81f160">  <td>24/03/07 19:15:32</td>   <td>-1732</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_DifferentClass_RestAssured.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.TestNG_DataProvider_DifferentClass_RestAssured@3daf7722]">validator</td> 
  <td>main@837246227</td>   <td></td> </tr>
</table>
